# cache
*.ipynb_checkpoints
*.pyc

# train/test data to learn RSSM
# dataset/ENV_NAME/TASK_NAME
# dataset/*/*/*
*.npy
*.pth

# train results and logs
train/*/*/*/*/results
train/*/*/*/*/outputs
train/*/*/*/*/figs
train/*/*/*/*/test
train/*/*/*/*/eval_targets

# visualize results
*.gif
*.mp4
*.png
